@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: #0f0a0a;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.header {
  margin-left: 40px;
  background-color: #0f0a0a;
  padding: 60px;
  color: #ffffff;
  border: 5px solid #0f0a0a;
  border-radius: 8px;
  margin: 0 auto;
  width: 88%;
  height: 1400px;
  margin-top: 60px;
}

.nav {
  background-color: #0f0a0a;
  padding: 1rem;
  margin-top: -70px;
  background: rgba(0, 0, 0, 0.4);
}

.nav-list {
  padding: 0;
  background-color: #0f0a0a;
  font-size: 20px;
  margin-left: 320px;
}

.nav-list li {
  background-color: #0f0a0a;
}

.nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 2rem;
  padding: 0 10px;
  margin: 0 20px;
}

.nav ul li::after {
  content: "";
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav ul li:hover::after {
  width: 100%;
}

.hero {
  background: #0f0a0a;
}

.img-hero {
  margin: 0 auto;
  border-radius: 10px;
  opacity: 50%;
  margin-left: -270px;
  width: 1900px;
  height: 1100px;
  margin-top: 10px;
  display: block;
  opacity: 89%;
  -webkit-mask-image: linear-gradient(to top, transparent, black 40%, black 70%, transparent);
  mask-image: linear-gradient(to top, transparent, black 50%, black 50%, transparent);
}

.img-logo {
    width: 270px;
    height: 60px;
    margin-top: -110px;
    cursor: pointer;
    margin-left: -55px;
}

a {
    color: #ecf0f1;
    text-decoration: none;
    background-color: #0f0a0a;
    margin-left: 1%;
    margin-right: 30px;
    border-radius: 5px;
    position: relative;
    appearance: none;
    border: 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 14px;
    transition: color 0.25s cubic-bezier(0.2, 0.8, 0.2, 1);
    transform: 0.2 ease;
    outline: none;
    font-size: clamp(18px, 2.2vw, 16px);
}

.input-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -34px;
  margin-left: 50px;
}

.input-login {
  background-color: #ffffff;
  display: inline-flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: #0f0a0a;
  border: none;
  padding: 5px 10px;
  border: 3px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1040px;
  font-size: 15px;
  margin-inline-end: auto;
  transition: 0.6s;
  font-weight: 600;
}

.input-register {
  background-color: #2191FB;
  color: #0f0a0a;
  border: none;
  padding: 5px 10px;
  border: 3px solid #2191fb;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.6s;
  font-weight: 600;
}

.input-login:hover {
  background-color: #e8e8e8;
  color: #0f0a0a;
  border: 3px solid #e8e8e8;
  font-size: 21px;
  transition: 0.6s;
}

.input-register:hover {
  background-color: #0077b6;
  color: #ffffff;
  border: 3px solid #0077b6;
  font-size: 21px;
  transition: 0.6s;
}

.main {
  margin: 0 auto;
}

.main-title {
  color: #ecf0f1;
  text-align: center;
  margin-top: -300px;
  font-size: 50px;
}

.main-content {
  color: #bdc3c7;
  text-align: center;
  font-size: 20px;
}

.article {
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 5px;
}

.article-title {
  color: #ecf0f1;
}

.article-content {
  color: #bdc3c7;
}

.section {
  background-color: #34495e;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.section-title {
  color: #ecf0f1;
}

.section-content {
  color: #bdc3c7;
}

.additional-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.additional-content-title {
  color: #ecf0f1;
}

.additional-content-text {
  color: #bdc3c7;
}

.more-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.more-content-title {
  color: #ecf0f1;
}

.more-content-text {
  color: #bdc3c7;
}

.even-more-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}

.even-more-content-title {
  color: #ecf0f1;
}

.even-more-content-text {
  color: #bdc3c7;
}

.footer {
  background-color: #0f0a0a;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}